extends layout/app
block var
    - let page_title = "Home";
block content 
    .start 
        .start__content 
            .start__author 
                span Nafis Nuraliyeva 
            .start__name 
                h1 Gulp starter 
            .start__social 
                a(href="https://t.me/@Dr_Nafis")
                    i.fa-brands.fa-telegram
                a(href="https://www.instagram.com/n_nafis_")
                    i.fa-brands.fa-instagram 
                
            

        